:root{
    --main-color: #1F3F2B;
    --background-color: #E9F3E5;
    --section-padding: 60px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Roboto", sans-serif;
    direction: rtl;
}
.navbar .container-fluid img{
    width: 100px;
}
.navbar{
    background-color: var(--background-color);
}
.navbar .container-fluid .collapse ul li a{
    padding-left: 2rem ;
}
.navbar .container-fluid .collapse ul li a:hover,
.navbar .container-fluid .collapse ul li a.active{
    color: var(--main-color);
    font-weight: 700;
}
.navbar .navbar-toggler{
    font-size: 2.5rem;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
    color: var(--main-color);
}

.add-lesson{
    padding-top: var(--section-padding);
}

.add-lesson .button button,
.add-lesson :last-child button {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.add-lesson form label{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--main-color);
}
.add-lesson form input{
    color: var(--main-color);
    font-size: 1.3rem;
}

.add-lesson form input:focus,
.add-lesson form textarea:focus{
    box-shadow: 0px 0px 10px rgb(5, 98, 5);
    border-color: rgb(5, 98, 5);
}


.student-statistics p{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
}
.student-statistics{
    margin-top: var(--section-padding);
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-section{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.student-section table tbody tr{
    padding: 10px;
    font-size: 1.5rem;
}
footer{
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 1.5rem;
    margin: 0px;
    color: white;
}


