:root{
    --main-color: #1F3F2B;
    --background-color: #E9F3E5;
    --section-padding: 60px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Roboto", sans-serif;
    direction: rtl;
}
.main-head h2{
    font-size: 8rem;
    color: #1f3f2b7e;
    font-weight: 900;
}
.main-head p{
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 700;
    margin-top: -40px;
}
.main-head{
    margin-bottom: 100px;
}
/* start of header-section */
.navbar .container-fluid img{
    width: 100px;
}
.navbar{
    background-color: var(--background-color);
}
.navbar .container-fluid .collapse ul li a{
    padding-left: 2rem ;
}
.navbar .container-fluid .collapse ul li a:hover,
.navbar .container-fluid .collapse ul li a.active{
    color: var(--main-color);
    font-weight: 700;
}
.navbar .navbar-toggler{
    font-size: 2.5rem;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
    color: var(--main-color);
}
/* end of header-section */

/* start of Landing-section */
.landing-section{
    background-color: var(--background-color);
    height: calc(100vh - 126px);
    color: var(--main-color);
}
.landing-section .text-center h1{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.landing-section .text-center p{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 3rem;
}
@media (max-width:500px){
    .landing-section .text-center p{
        font-size: 1.8rem;
    }
}
.landing-section .text-center button{
    background-color: var(--main-color);
    color: white;
    font-weight: 800;
    cursor: pointer;
}
.landing-section .text-center button:hover{
    color: #bae6ca92;
}
/* end of Landing-section */

/* start of features-section */
.features-section{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.features-section .container .feature{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 40px;
}
.features-section .container .feature .box {
    padding: 30px;
    border-color: var(--background-color);
    box-shadow: 0px 0px 10px var(--main-color);    
}
.features-section .container .feature .box svg{
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 10px;
}
.features-section .container .feature .box h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.features-section .container .feature .box p{
    font-size: 1.6rem;
    color: #1f3f2bac;
}
.features-section .container .feature .box:hover{
    background-color: var(--background-color);
}
/* end of features-section */

/* start of student-section */
.student-section{
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.student-section table tr td{
    font-size: 1.5rem;
}
/* end of student-section */

/* start of Services-section */
.Services-section .content{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
    gap: 20px;
}
.Services-section .content .box{
    flex-basis: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.Services-section .content .box:hover{
    background-color: #bae6ca92;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--main-color);
}
.Services-section .content .box svg{
    font-size: 3rem;
    padding-bottom:20px ;
    color: var(--main-color);
}
.Services-section .content .box h3{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--main-color);
}
.Services-section .content .box p{
    font-size: 1.2rem;
    padding-bottom:20px ;
    line-height: 1.5;
}
/* end of Services-section */

/* start of contact-section */

.contact-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact-section .main-head{
    margin-bottom: 70px;
}
.contact-section .contact{
    padding-top: var(--padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-section  .contact > p{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--main-color);
    letter-spacing: -2px;
}
.contact-section  .contact > a{
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color);
    letter-spacing: -2px;
    text-decoration: none;
    margin: 1rem 0;
    display:block;
    width: fit-content;
}
.contact-section  .contact .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}
.contact-section  .contact .social-icons a {
    color: var(--main-color);
    font-size: 2rem;
}
@media (max-width: 768px) {
    
    .contact-section .main-head h2{
        font-size: 6rem;
    }
    .contact-section .main-head p{
        font-size: 1.2rem;
    }
    .contact-section  .contact .social-icons p{
            font-size: 1rem;
        }
    .contact-section  .contact .social-icons a {
        font-size: 1.5rem;
    }
}
/* end of contact-section */

/* start of footer-section */
footer{
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 1.5rem;
    margin: 0px;
    color: white;
}
/* end of footer-section */
